<div class="container mt-5">
  <h1>Welcome to the List</h1>

  <% @lists.each do |list|%>
  <div class="card w-100 h-50">
    <%= link_to list.name, list_path(list) %>
  </div>
  <% end %>

  <p><%= link_to "Make new list?", new_list_path %></p>
</div>
